<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MyUtil" publicKeyToken="daaeb4fcc5fa526b" culture="neutral" />
                <!-- <codeBase version="1.0.0.0" href="file:///C:/Projects/SideBySide/MyUtil.v.1.0/MyUtil.dll" /> -->
                <!-- <codeBase version="1.1.0.0" href="file:///C:/Projects/SideBySide/MyUtil.v.1.1/MyUtil.dll" /> -->
                <codeBase version="1.2.0.0" href="file:///C:/Projects/SideBySide/MyUtil.v.1.2/MyUtil.dll" />

                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.2.0.0" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="MyUtilWrapperA" publicKeyToken="daaeb4fcc5fa526b" culture="neutral" />
                <codeBase version="1.0.0.0" href="file:///C:/Projects/SideBySide/MyUtilWrapperA/MyUtilWrapperA.dll" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="MyUtilWrapperB" publicKeyToken="daaeb4fcc5fa526b" culture="neutral" />
                <codeBase version="1.0.0.0" href="file:///C:/Projects/SideBySide/MyUtilWrapperB/MyUtilWrapperB.dll" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
